body{
  width:800px;
}
h1 {
  margin:20px 20px 20px 320px;
  color:red;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin:0 60px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form {
margin:40px 60px 40px 140px;
border-top: 2px solid gray;
padding: 40px;
}
