<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="header">
    <h1>Edit show {{showDetails.id}}</h1>
    <a href="/shows">go back</a><br>
  </div>
  <form action="/shows/{{showDetails.id}}/update" method="POST">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value="{{showDetails.name}}"><br><br>
    <div class = "ntrel">
      <div class="nt">
        <label for="network">Network:</label><br>
        <input type="text" id="ntework" name="network" value="{{showDetails.network}}">
      </div>
      <div class="rel">
        <label for="rel">Release Date:</label><br>
        <input type="date" id="rel" name="rel" value="{{showDetails.release_date|date:'Y-m-d' }}"><br><br>
      </div>
    </div>
    <label for="Desc">Description:</label><br>
    <textarea id="desc" name="desc" value="">{{showDetails.Description}}</textarea><br><br>
    <input type="submit" value="Update">
  </form>
</body>
</html>