<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h2 {
      text-align: center;
      margin-top: 60px;
    }
    .box {
      margin: 0 auto;
    }
    .smallBox {
      width: 160px;
      height: 160px;
      margin-right: 40px;
      background-color: #9FC5F8;
      border: 2px solid black;
      display: inline-block;
    }
  </style
</head>
<body>
  <h2>Welcome!</h2>
  <div class="boxes">
    {% for i in range(0, num) %}
    <div class="smallBox" style="background-color:{{ color }}"></div>
    {% endfor %}

  </div>
</body>
</html>