body {
  margin-left:40px;
}
.ntrel {
  display: flex;
}
.rel {
  margin-left: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header a {
  margin: 30px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin:0 60px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
