<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Dojo Survey Index</h1>
    <form action="/result" method="post">
        {% csrf_token %}
        <label for="name">Your name:</label>
        <input type="text" name="name" id=""><br><br>
        <label for="name">Dojo Location:</label>
        <select name="location" id="">
          <option value="San Jose">San Jose</option>
          <option value="Chicago">Chicago</option>
          <option value="New York">New York</option>
          <option value="Austin">Austin</option>
        </select><br><br>
        <label for="language">Favorite Language: </label>
        <select name="FavLanguage" id="">
          <option value="Python">Python</option>
          <option value="Java">Java</option>
          <option value="C++">C++</option>
        </select><br><br>
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" id="" value="Male">
        <label for="male">Male</label>
        <input type="radio" name="gender" id="" value="Female">
        <label for="female">Female</label>
        <input type="radio" name="gender" id="" value="Other">
        <label for="other">Other</label><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>